header {
    background-color: black;
    font-size: 15px;
    color: white;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 {
    font-family: 'Amatic SC', cursive ;
    text-align: center;
    font-size: 30px;
    
}
span {
    color: red;
    background-color: red;
}
.card{
    
    border-color: white;
  display: block;
  margin: auto;
}
.Primerimagen {
    width: 1500px;
    height: 1000px;
    display:block;
margin:auto;
}
p {
    
    color: black;
    
    font-size: 100PX;
    text-align: center;
    
}
.IMAGENBOX {
    width: 1515px;
    height: 801px;
    background-image:url(IMG4.jpg);
}
a {
    
    color: black;
}
.BOXES {
    background-color: black;
   

}
.card-text{
    text-align: start;
    font-size: 35px;
}
button {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.imageninv {
    width: 1515px;
    height: 802px;
    background-image: url(IMG14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.invitext{
    font-size: 45px;
    text-align:end;
    color:black;
    
    
}
.carousel-inner >img {
    object-fit: scale-down;
    height: 60px;
    width: 10px;
    
  }